body {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}
form {
  display: grid;
  width: 400px;
  font-family: sans-serif;
  gap: 1.5rem;
  border-radius: 10px;
  padding: 50px;
  box-shadow: -15px -20px 20px rgba(249, 16, 187, 0.19), 15px -15px 6px rgba(12, 4, 245, 0.19);
}

h1 {
  text-align: center;

  background: linear-gradient(to right, rgb(74, 111, 221), rgb(237, 1, 237));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

textarea {
  resize: none;
  border-style: none;
  font-size: larger;

}

select {
  border: none;
  font-size: larger;
  opacity: 60%;
  border-bottom: 1px solid gainsboro ;
  padding-bottom: 10px;
}

input {
  border: none;
  font-size: larger;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}

button {
  padding: 5px;

  border-radius: 60px;
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 187),
    rgb(214, 26, 214),
    rgb(49, 142, 247)
  );
  color: white;
}
